* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #0C151C;
    /* Color de fondo */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::before {
    content: "";
    background-image: url('https://i.redd.it/yvyj7hwc4pv31.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* RBdash.html y basicamente cualquier partial ///////////////////////////////////////////////////////// */
.container {
    display: flex;
}

.main {
    position: relative;
    padding: 20px;
    width: 100%;
    height: calc(100% - 4em);
}

.main-top {
    display: flex;
    width: 100%;
    color: #E4E5EA;
}

/* #endregion */


/* #region Dashboard general styles ---------------------------------------------------------------------*/
.dash-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: grid;
    padding: 15px;
    gap: 0.7em;
    grid-template: 20% 60% 20% / 50% 50%;
    height: 85vh;
    max-height: 85vh;
}

.dash-container-WO,
.dash-container-inventory {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    display: grid;
    padding: 15px;
    gap: 0.7em;
    grid-template: 20% 80% / 50% 50%;
    height: 85vh;
    max-height: 85vh;
}

.dash-item {
    background-color: #D2D2D4;
    padding: 5px;
    border: 2px solid #16354D;
    border-radius: 10px;
}

.dash-item:hover {
    box-shadow: 0 2px 8px 0 #E4E5EA;
}

.dash-header,
.dash-footer {
    grid-column: 1 / 3;
}

.dash-item-title {
    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #16354D;
    font-weight: 500;
    font-size: large;
    padding-left: 15px;
}

.dash-item-title>i {
    float: right;
}

.dash-item-content {
    padding: 5px;
    display: grid;
    overflow: hidden;
    grid-template-rows: max-content auto;
    min-height: 0;
    height: calc(100% - 26px);
}

/* #endregion Dashboard Styles*/